<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irontec.mintzatu"
    android:versionCode="14"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/mintzatu"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Mintzatu" >
        <activity
            android:name="com.irontec.mintzatu.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="com.irontec.mintzatu.LoginActivity" -->
        <!-- android:noHistory="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" > -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.irontec.mintzatu.BadgeActivity"
            android:label="@string/title_activity_badge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.FriendRequestActivity"
            android:label="@string/title_activity_friend_request"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.PlaceActivity"
            android:label="@string/title_activity_place"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.CheckinActivity"
            android:label="@string/title_activity_checkin"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.irontec.mintzatu.MayorshipActivity"
            android:label="@string/title_activity_mayorship"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.SearchActivity"
            android:label="@string/title_activity_place_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.NewPlaceActivity"
            android:label="@string/title_activity_new_place"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.NewPlaceMapActivity"
            android:label="@string/title_activity_new_place_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.MyCheckinActivity"
            android:label="@string/title_activity_my_checkin"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="GOOGLE_MAPS_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.irontec.mintzatu.PlaceSubDetailActivity"
            android:label="@string/title_activity_place_sub_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.WebviewActivity"
            android:label="@string/title_activity_twitter_webview" >
        </activity>

        <!-- <receiver -->
        <!-- android:name="com.irontec.mintzatu.services.GCMBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="com.irontec.mintzatu" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name="com.irontec.mintzatu.GalleryDetailActivity"
            android:label="@string/title_activity_gallery_detail" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.EzarpenakDetailActivity"
            android:label="@string/title_activity_ezarpenak_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.irontec.mintzatu.BadgeDetailActivity"
            android:label="@string/title_activity_badge_detail" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.IruzkinaActivity"
            android:label="@string/title_activity_iruzkina"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.irontec.fragments.BaseLoginActivity"
            android:label="@string/title_activity_badge" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.ProfilaActivity"
            android:label="@string/title_activity_profila"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.irontec.fragments.LoginCircles"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.irontec.mintzatu.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.SigninActivity"
            android:label="@string/title_activity_signin"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.irontec.mintzatu.HoniBuruzActivity"
            android:label="@string/title_activity_honi_buruz"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>